body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:574px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:1180px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:1180px;
}
#u1 {
  position:absolute;
  left:2px;
  top:582px;
  width:570px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:39px;
  top:147px;
  width:502px;
  height:86px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:86px;
}
#u3 {
  position:absolute;
  left:2px;
  top:35px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:54px;
  top:151px;
  width:474px;
  height:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:18px;
}
#u5 {
  position:absolute;
  left:2px;
  top:1px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:265px;
  top:187px;
  width:115px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#734515;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:29px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:39px;
  top:232px;
  width:502px;
  height:1px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:1px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-8px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:39px;
  top:233px;
  width:499px;
  height:68px;
  opacity:0.800000011920929;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:68px;
}
#u11 {
  position:absolute;
  left:2px;
  top:26px;
  width:495px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:38px;
  top:972px;
  width:502px;
  height:66px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:66px;
}
#u13 {
  position:absolute;
  left:2px;
  top:25px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:79px;
  top:1014px;
  width:61px;
  height:20px;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:208px;
  top:1014px;
  width:62px;
  height:20px;
  font-size:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:338px;
  top:1014px;
  width:62px;
  height:20px;
  font-size:20px;
  color:#734515;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:467px;
  top:1014px;
  width:43px;
  height:20px;
  font-size:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:82px;
  top:984px;
  width:27px;
  height:27px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:211px;
  top:984px;
  width:27px;
  height:27px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u25 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:340px;
  top:984px;
  width:27px;
  height:27px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u27 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:468px;
  top:984px;
  width:27px;
  height:27px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:504px;
  top:251px;
  width:11px;
  height:21px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:21px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:38px;
  top:294px;
  width:500px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:500px;
  height:1px;
}
#u33 {
  position:absolute;
  left:59px;
  top:253px;
  width:24px;
  height:24px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:99px;
  top:252px;
  width:161px;
  height:20px;
  font-size:24px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:99px;
  top:322px;
  width:97px;
  height:20px;
  font-size:24px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:59px;
  top:322px;
  width:24px;
  height:24px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u40 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:38px;
  top:362px;
  width:500px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:500px;
  height:1px;
}
#u42 {
  position:absolute;
  left:504px;
  top:325px;
  width:11px;
  height:21px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:21px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:59px;
  top:391px;
  width:24px;
  height:24px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:504px;
  top:394px;
  width:11px;
  height:21px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:21px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:99px;
  top:388px;
  width:97px;
  height:20px;
  font-size:24px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:38px;
  top:430px;
  width:500px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:500px;
  height:1px;
}
#u51 {
  position:absolute;
  left:36px;
  top:371px;
  width:512px;
  height:68px;
  opacity:0;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:68px;
}
#u52 {
  position:absolute;
  left:2px;
  top:26px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:35px;
  top:296px;
  width:509px;
  height:68px;
  opacity:0;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:68px;
}
#u54 {
  position:absolute;
  left:2px;
  top:26px;
  width:505px;
  visibility:hidden;
  word-wrap:break-word;
}
