body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:569px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:1170px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:1170px;
}
#u1 {
  position:absolute;
  left:2px;
  top:577px;
  width:565px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:52px;
  top:148px;
  width:470px;
  height:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:18px;
}
#u3 {
  position:absolute;
  left:2px;
  top:1px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:230px;
  top:184px;
  width:114px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#734515;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:29px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:38px;
  top:228px;
  width:497px;
  height:7px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:7px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-4px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:38px;
  top:229px;
  width:497px;
  height:749px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:749px;
}
#u9 {
  position:absolute;
  left:2px;
  top:366px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:58px;
  top:184px;
  width:18px;
  height:31px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:31px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:38px;
  top:971px;
  width:497px;
  height:58px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:58px;
}
#u13 {
  position:absolute;
  left:2px;
  top:21px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:38px;
  top:229px;
  width:497px;
  height:800px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:800px;
}
#u15 {
  position:absolute;
  left:2px;
  top:392px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:457px;
  top:739px;
  width:78px;
  height:289px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:289px;
}
#u17 {
  position:absolute;
  left:2px;
  top:136px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:58px;
  top:619px;
  width:18px;
  height:31px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:31px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:504px;
  top:619px;
  width:18px;
  height:31px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:31px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:38px;
  top:235px;
  width:497px;
  height:794px;
  opacity:0;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:794px;
}
#u23 {
  position:absolute;
  left:2px;
  top:389px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:30px;
  top:144px;
  width:512px;
  height:85px;
  opacity:0;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:85px;
}
#u25 {
  position:absolute;
  left:2px;
  top:34px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
