body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:569px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:1170px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:1170px;
}
#u1 {
  position:absolute;
  left:2px;
  top:577px;
  width:565px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:38px;
  top:144px;
  width:497px;
  height:85px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:85px;
}
#u3 {
  position:absolute;
  left:2px;
  top:34px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:52px;
  top:148px;
  width:470px;
  height:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:18px;
}
#u5 {
  position:absolute;
  left:2px;
  top:1px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:264px;
  top:185px;
  width:76px;
  height:29px;
  font-size:28px;
  color:#734515;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:29px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:38px;
  top:229px;
  width:497px;
  height:1px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:1px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-8px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:66px;
  top:247px;
  width:92px;
  height:27px;
  font-size:22px;
  color:#734515;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:38px;
  top:964px;
  width:497px;
  height:65px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:65px;
}
#u13 {
  position:absolute;
  left:2px;
  top:24px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:78px;
  top:1006px;
  width:52px;
  height:20px;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:206px;
  top:1006px;
  width:44px;
  height:20px;
  font-size:20px;
  color:#734515;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:335px;
  top:1006px;
  width:58px;
  height:20px;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:463px;
  top:1006px;
  width:52px;
  height:20px;
  font-size:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:81px;
  top:976px;
  width:27px;
  height:27px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:209px;
  top:976px;
  width:27px;
  height:27px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u25 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:337px;
  top:976px;
  width:27px;
  height:27px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u27 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:464px;
  top:976px;
  width:27px;
  height:27px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:38px;
  top:278px;
  width:497px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:480px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:497px;
  height:1px;
}
#u31 {
  position:absolute;
  left:65px;
  top:280px;
  width:86px;
  height:4px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:4px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-6px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:192px;
  top:253px;
  width:37px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:20px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:37px;
  height:1px;
}
#u34 {
  position:absolute;
  left:353px;
  top:253px;
  width:37px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:20px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:37px;
  height:1px;
}
#u35 {
  position:absolute;
  left:210px;
  top:516px;
  width:153px;
  height:153px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:153px;
}
#u36 {
  position:absolute;
  left:2px;
  top:68px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:240px;
  top:247px;
  width:130px;
  height:37px;
  font-size:22px;
  color:#666666;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:417px;
  top:247px;
  width:118px;
  height:37px;
  font-size:22px;
  color:#666666;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:37px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:40px;
  top:148px;
  width:494px;
  height:816px;
  opacity:0;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:816px;
}
#u42 {
  position:absolute;
  left:2px;
  top:400px;
  width:490px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:115px;
  top:706px;
  width:351px;
  height:56px;
  font-size:18px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:56px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  word-wrap:break-word;
}
