body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:569px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:1170px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:1170px;
}
#u1 {
  position:absolute;
  left:2px;
  top:577px;
  width:565px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:38px;
  top:144px;
  width:382px;
  height:85px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:85px;
}
#u3 {
  position:absolute;
  left:2px;
  top:34px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:52px;
  top:148px;
  width:470px;
  height:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:18px;
}
#u5 {
  position:absolute;
  left:2px;
  top:1px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:259px;
  top:185px;
  width:67px;
  height:29px;
  font-size:28px;
  color:#734515;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:38px;
  top:229px;
  width:497px;
  height:1px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:1px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-8px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:57px;
  top:185px;
  width:18px;
  height:31px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:31px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:60px;
  top:296px;
  width:456px;
  height:87px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:87px;
}
#u13 {
  position:absolute;
  left:2px;
  top:36px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:98px;
  top:329px;
  width:140px;
  height:19px;
  font-size:22px;
  color:#734515;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:373px;
  top:38px;
  width:96px;
  height:19px;
  font-size:20px;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:401px;
  top:316px;
  width:76px;
  height:16px;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:38px;
  top:282px;
  width:497px;
  height:1px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:1px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-8px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:385px;
  top:349px;
  width:84px;
  height:19px;
  font-size:18px;
  color:#999999;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:38px;
  top:506px;
  width:497px;
  height:524px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:524px;
}
#u25 {
  position:absolute;
  left:2px;
  top:254px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:36px;
  top:282px;
  width:502px;
  height:1px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:1px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-8px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:60px;
  top:401px;
  width:456px;
  height:87px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:87px;
}
#u29 {
  position:absolute;
  left:2px;
  top:36px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:98px;
  top:432px;
  width:140px;
  height:19px;
  font-size:22px;
  color:#734515;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:395px;
  top:421px;
  width:76px;
  height:17px;
  font-size:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:380px;
  top:452px;
  width:84px;
  height:19px;
  font-size:18px;
  color:#999999;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:174px;
  top:279px;
  width:84px;
  height:4px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:4px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:486px;
  top:326px;
  width:12px;
  height:23px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:486px;
  top:435px;
  width:12px;
  height:23px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:430px;
  top:186px;
  width:114px;
  height:43px;
  font-size:20px;
  color:#999999;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:173px;
  top:245px;
  width:132px;
  height:38px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#734515;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:38px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:310px;
  top:244px;
  width:141px;
  height:39px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:39px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:81px;
  top:246px;
  width:92px;
  height:37px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:448px;
  top:244px;
  width:87px;
  height:39px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:39px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:56px;
  top:296px;
  width:9px;
  height:87px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:87px;
}
#u53 {
  position:absolute;
  left:2px;
  top:36px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:56px;
  top:401px;
  width:9px;
  height:87px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:87px;
}
#u55 {
  position:absolute;
  left:2px;
  top:36px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:61px;
  top:327px;
  width:25px;
  height:25px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u57 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:61px;
  top:328px;
  width:25px;
  height:24px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u59 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:61px;
  top:432px;
  width:25px;
  height:25px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u61 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:61px;
  top:433px;
  width:25px;
  height:24px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u63 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:42px;
  top:296px;
  width:493px;
  height:87px;
  opacity:0;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:87px;
}
#u65 {
  position:absolute;
  left:2px;
  top:36px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
