body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:569px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:1170px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:1170px;
}
#u1 {
  position:absolute;
  left:2px;
  top:577px;
  width:565px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:38px;
  top:144px;
  width:497px;
  height:85px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:85px;
}
#u3 {
  position:absolute;
  left:2px;
  top:34px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:52px;
  top:148px;
  width:470px;
  height:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:18px;
}
#u5 {
  position:absolute;
  left:2px;
  top:1px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:264px;
  top:185px;
  width:62px;
  height:29px;
  font-size:28px;
  color:#734515;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:29px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:38px;
  top:229px;
  width:497px;
  height:1px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:1px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-8px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:66px;
  top:247px;
  width:130px;
  height:41px;
  font-size:22px;
  color:#666666;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:41px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:38px;
  top:278px;
  width:497px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:480px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:497px;
  height:1px;
}
#u13 {
  position:absolute;
  left:240px;
  top:247px;
  width:108px;
  height:27px;
  font-size:22px;
  color:#734515;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:27px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:417px;
  top:247px;
  width:118px;
  height:41px;
  font-size:22px;
  color:#666666;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:240px;
  top:280px;
  width:86px;
  height:4px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:4px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-6px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:38px;
  top:964px;
  width:497px;
  height:65px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:65px;
}
#u20 {
  position:absolute;
  left:2px;
  top:24px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:78px;
  top:1006px;
  width:62px;
  height:20px;
  font-size:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:206px;
  top:1006px;
  width:59px;
  height:20px;
  font-size:20px;
  color:#734515;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:335px;
  top:1006px;
  width:65px;
  height:20px;
  font-size:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:463px;
  top:1006px;
  width:52px;
  height:20px;
  font-size:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:81px;
  top:976px;
  width:27px;
  height:27px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u30 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:209px;
  top:976px;
  width:27px;
  height:27px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u32 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:337px;
  top:976px;
  width:27px;
  height:27px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u34 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:464px;
  top:976px;
  width:27px;
  height:27px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u36 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:192px;
  top:253px;
  width:37px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:20px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:37px;
  height:1px;
}
#u38 {
  position:absolute;
  left:353px;
  top:253px;
  width:37px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:20px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:37px;
  height:1px;
}
#u39 {
  position:absolute;
  left:152px;
  top:605px;
  width:53px;
  height:36px;
  font-size:26px;
  line-height:48px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:391px;
  top:605px;
  width:53px;
  height:36px;
  font-size:26px;
  line-height:48px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:152px;
  top:870px;
  width:53px;
  height:36px;
  font-size:26px;
  line-height:48px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:391px;
  top:870px;
  width:53px;
  height:36px;
  font-size:26px;
  line-height:48px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:298px;
  top:677px;
  width:220px;
  height:174px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:174px;
}
#u48 {
  position:absolute;
  left:2px;
  top:79px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:58px;
  top:677px;
  width:220px;
  height:174px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:174px;
}
#u50 {
  position:absolute;
  left:2px;
  top:79px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:298px;
  top:416px;
  width:220px;
  height:174px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:174px;
}
#u52 {
  position:absolute;
  left:2px;
  top:79px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:58px;
  top:416px;
  width:220px;
  height:174px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:174px;
}
#u54 {
  position:absolute;
  left:2px;
  top:79px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:58px;
  top:298px;
  width:460px;
  height:53px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:53px;
}
#u56 {
  position:absolute;
  left:2px;
  top:18px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:70px;
  top:314px;
  width:180px;
  height:23px;
  font-size:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:23px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:337px;
  top:298px;
  width:181px;
  height:53px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:53px;
}
#u60 {
  position:absolute;
  left:2px;
  top:18px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:405px;
  top:313px;
  width:89px;
  height:23px;
  font-size:22px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:23px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:358px;
  top:310px;
  width:29px;
  height:29px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u64 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:58px;
  top:372px;
  width:5px;
  height:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:20px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:78px;
  top:373px;
  width:341px;
  height:19px;
  font-size:20px;
  color:#734515;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:19px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:322px;
  top:298px;
  width:212px;
  height:53px;
  opacity:0;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:53px;
}
#u70 {
  position:absolute;
  left:2px;
  top:18px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
