body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:569px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:1170px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:1170px;
}
#u1 {
  position:absolute;
  left:2px;
  top:577px;
  width:565px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:38px;
  top:144px;
  width:384px;
  height:85px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:85px;
}
#u3 {
  position:absolute;
  left:2px;
  top:34px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:52px;
  top:148px;
  width:470px;
  height:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:18px;
}
#u5 {
  position:absolute;
  left:2px;
  top:1px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:259px;
  top:185px;
  width:67px;
  height:29px;
  font-size:28px;
  color:#734515;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:38px;
  top:229px;
  width:497px;
  height:1px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:1px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-8px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:430px;
  top:186px;
  width:105px;
  height:43px;
  font-size:20px;
  color:#999999;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:43px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:57px;
  top:185px;
  width:18px;
  height:31px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:31px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:38px;
  top:282px;
  width:497px;
  height:1px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:1px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-8px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:36px;
  top:282px;
  width:502px;
  height:1px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:1px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-8px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:435px;
  top:279px;
  width:66px;
  height:4px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:4px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-6px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:92px;
  top:337px;
  width:424px;
  height:329px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:329px;
}
#u21 {
  position:absolute;
  left:2px;
  top:156px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:91px;
  top:301px;
  width:93px;
  height:19px;
  font-size:18px;
  color:#734515;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:465px;
  top:303px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:92px;
  top:337px;
  width:3px;
  height:329px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:329px;
}
#u27 {
  position:absolute;
  left:2px;
  top:156px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:57px;
  top:300px;
  width:25px;
  height:25px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u29 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:57px;
  top:301px;
  width:25px;
  height:24px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:213px;
  top:353px;
  width:100px;
  height:61px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:61px;
}
#u33 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:109px;
  top:374px;
  width:75px;
  height:19px;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:109px;
  top:450px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:213px;
  top:471px;
  width:145px;
  height:12px;
  font-size:12px;
  color:#999999;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:12px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:109px;
  top:548px;
  width:75px;
  height:19px;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:109px;
  top:630px;
  width:81px;
  height:16px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:213px;
  top:631px;
  width:145px;
  height:19px;
  font-size:18px;
  color:#990033;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:213px;
  top:440px;
  width:48px;
  height:24px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u47 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:229px;
  top:444px;
  width:19px;
  height:12px;
  font-size:15px;
  color:#734515;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:12px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:271px;
  top:440px;
  width:48px;
  height:24px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u51 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:287px;
  top:444px;
  width:19px;
  height:12px;
  font-size:15px;
  color:#734515;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:12px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:329px;
  top:440px;
  width:48px;
  height:24px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u55 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:345px;
  top:444px;
  width:19px;
  height:12px;
  font-size:15px;
  color:#734515;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:12px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:387px;
  top:440px;
  width:48px;
  height:24px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u59 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:403px;
  top:444px;
  width:16px;
  height:12px;
  font-size:15px;
  color:#734515;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:213px;
  top:511px;
  width:133px;
  height:46px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
}
#u63 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:213px;
  top:519px;
  width:133px;
  height:23px;
  text-align:center;
  line-height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:23px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:350px;
  top:511px;
  width:133px;
  height:46px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
}
#u67 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:350px;
  top:519px;
  width:133px;
  height:23px;
  text-align:center;
  line-height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:23px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:213px;
  top:561px;
  width:133px;
  height:46px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
}
#u71 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:213px;
  top:569px;
  width:133px;
  height:23px;
  text-align:center;
  line-height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:23px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:350px;
  top:561px;
  width:133px;
  height:46px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
}
#u75 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:350px;
  top:569px;
  width:133px;
  height:23px;
  text-align:center;
  line-height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:23px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:84px;
  top:493px;
  width:9px;
  height:14px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u79 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:92px;
  top:723px;
  width:424px;
  height:329px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:329px;
}
#u81 {
  position:absolute;
  left:2px;
  top:156px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:91px;
  top:687px;
  width:93px;
  height:19px;
  font-size:18px;
  color:#734515;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:92px;
  top:723px;
  width:3px;
  height:329px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:329px;
}
#u85 {
  position:absolute;
  left:2px;
  top:156px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:57px;
  top:686px;
  width:25px;
  height:25px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u87 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:57px;
  top:687px;
  width:25px;
  height:24px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u89 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:213px;
  top:739px;
  width:100px;
  height:61px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:61px;
}
#u91 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:109px;
  top:760px;
  width:75px;
  height:19px;
  font-size:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:109px;
  top:836px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:213px;
  top:857px;
  width:145px;
  height:12px;
  font-size:12px;
  color:#999999;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:12px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:109px;
  top:934px;
  width:75px;
  height:19px;
  font-size:16px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:109px;
  top:1016px;
  width:81px;
  height:16px;
  font-size:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:213px;
  top:1017px;
  width:91px;
  height:19px;
  font-size:18px;
  color:#990033;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:213px;
  top:826px;
  width:48px;
  height:24px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u105 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:229px;
  top:830px;
  width:19px;
  height:12px;
  font-size:15px;
  color:#734515;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:12px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:271px;
  top:826px;
  width:48px;
  height:24px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u109 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:287px;
  top:830px;
  width:19px;
  height:12px;
  font-size:15px;
  color:#734515;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:12px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:329px;
  top:826px;
  width:48px;
  height:24px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u113 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:345px;
  top:830px;
  width:19px;
  height:12px;
  font-size:15px;
  color:#734515;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:12px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:213px;
  top:897px;
  width:133px;
  height:46px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
}
#u117 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:213px;
  top:905px;
  width:133px;
  height:23px;
  text-align:center;
  line-height:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:23px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:350px;
  top:897px;
  width:133px;
  height:46px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
}
#u121 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:350px;
  top:905px;
  width:133px;
  height:23px;
  text-align:center;
  line-height:16px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:23px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:213px;
  top:947px;
  width:133px;
  height:46px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
}
#u125 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:213px;
  top:955px;
  width:133px;
  height:23px;
  text-align:center;
  line-height:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:23px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:350px;
  top:947px;
  width:133px;
  height:46px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
}
#u129 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:350px;
  top:955px;
  width:133px;
  height:23px;
  text-align:center;
  line-height:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:23px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:84px;
  top:879px;
  width:9px;
  height:14px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u133 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:213px;
  top:739px;
  width:100px;
  height:61px;
  opacity:0.25;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:61px;
}
#u135 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:173px;
  top:245px;
  width:132px;
  height:38px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:38px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:310px;
  top:244px;
  width:141px;
  height:39px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:39px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:81px;
  top:246px;
  width:92px;
  height:37px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:448px;
  top:244px;
  width:87px;
  height:39px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#734515;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:39px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
